<article class="block block--article">
    {% if article.image %}
        <a href="{{ article.url }}">
            <img src="{{ article.image.src }}" alt="{{ article.image.alt }}">
        </a>
    {% endif %}

    <div class="block__title">{{ article.title }}</div>
    <div class="block__description">{{ article.description }}</div>

    <div class="block__action">
        <a href="{{ article.url }}">Read More</a>
    </div>
</article>
